.dash-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primary);
  padding: 2rem;
}

.drop-down-root-cont {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.drop-down-cont {
  width: 100%;
}

.charts-grid {
  display: grid;
  grid-template-areas: "var var var" "line1 line1 bar2" "bar1 bar1 bar2" "line2 line2 line2";
  grid-template-columns: 1fr 1fr 4fr;
}

.var-select {
  grid-area: var;
  width: 100%;
}

.line1 {
  grid-area: line1;
  width: 100%;
}

.line2 {
  grid-area: line2;
  width: 100%;
}

.bar1 {
  grid-area: bar1;
  width: 100%;
}

.bar2 {
  grid-area: bar2;
  width: 100%;
}
