:root {
  --primary: #f7f7f7;
  --primary-hover: #f2e7d5;
  --primary-border: #6d9886;
  --primary-font-color: #393e46;
  --primary-button: #f2e7d5;
  --primary-font-color: #393e46;
  --primary-button-hover-font-color: #393e46;
  --primary-button-hover: #f2e7d5;
  --bg-r: 96;
  --bg-g: 150;
  --bg-b: 180;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: var(--primary-font-color);
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-font-color) var(--primary-border);
}

h3 {
  font-size: 1.2rem;
}

/* https://colorhunt.co/palette/635985443c6839305318122b */

.root-container {
  display: flex;
}

.nav-outlet-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0rem 6rem;
  background-color: var(--primary);
}

.outlet-container {
  min-height: 100vh;
  width: 100%;
}

.elivate-shadow {
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(var(--bg-r), var(--bg-g), var(--bg-b), 0.1);
}

.elivate-shadow:hover {
  box-shadow: 0 4px 4px rgba(var(--bg-r), var(--bg-g), var(--bg-b), 0.4);
}

.responsive-chart-container {
  position: relative;
}

.primary-btn {
  background: var(--primary-button);
  color: var(--primary-font-color);
  border: 1px solid var(--primary-border);
  border-radius: 6px;
  padding: 0.5rem;
}

.primary-btn:hover {
  cursor: pointer;
  background: var(--primary-button-hover);
  color: var(--primary-button-hover-font-color);
}

/* scroll bar */
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* Thin scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
}

@media screen and (max-width: 1500px) {
  .nav-outlet-container {
    padding: 0rem 5rem;
  }
}

@media screen and (max-width: 1300px) {
  .nav-outlet-container {
    padding: 0rem 4rem;
  }
}

@media screen and (max-width: 1200px) {
  * {
    font-size: 0.875rem;
  }
  .nav-outlet-container {
    padding: 0rem 3rem;
  }
}

@media screen and (max-width: 1000px) {
  * {
    font-size: 0.8rem;
  }
  .nav-outlet-container {
    padding: 0rem 0rem;
  }
}
