:root {
  --primary: #212121;
  --primary-hover: #383838;
  --primary-border: #748b9c;
  --primary-font-color: #f0e3e3;
  --primary-button: #2f576e;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: var(--primary-font-color);
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-font-color) var(--primary-border);
}

h3 {
  font-size: 1.2rem;
}

/* https://colorhunt.co/palette/635985443c6839305318122b */

.root-container {
  display: flex;
}

.nav-outlet-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0rem 6rem;
  background-color: var(--primary);
}

.outlet-container {
  min-height: 100%;
  width: 100%;
}

.elivate-shadow {
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.elivate-shadow:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.responsive-chart-container {
  position: relative;
}

.primary-btn {
  background: var(--primary-button);
  color: var(--primary-font-color);
  border: 1px solid var(--primary-border);
  border-radius: 6px;
  padding: 0.5rem;
}

.primary-btn:hover {
  cursor: pointer;
}

/* scroll bar */
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* Thin scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
}
