* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1rem;
  color: #33303c;
}

:root {
  --primary: #f4f4f5;
  --primary-border: #cdcdcd;
  --primary-font-color: #33303c;
}

.root-container {
  display: flex;
}

.nav-outlet-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0rem 6rem;
  background-color: var(--primary);
}
