.sidebar-closed {
  display: none;
}

.sidebar {
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem;
  min-width: 12rem;
  border-right: 2px solid var(--primary-border);
}

.sidebar > div,
.sidebar > a {
  border-radius: 6px;
  border: 1px solid var(--primary-border);
  padding: 0.5rem 1rem;
}

.sidebar a {
  text-decoration: none;
}

.active {
  background: var(--primary-hover);
  box-shadow: none;
  border-radius: 0px;
  color: var(--primary-font-color);
}
