.stat {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
}
.stat-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; /* Use height: 100% instead of height: auto */
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; /* Remove scrollbar on IE/Edge */
  overflow: -moz-scrollbars-none; /* Remove scrollbar on Firefox */
}

.stat-table::-webkit-scrollbar {
  display: none; /* Remove scrollbar on Chrome/Safari */
}

.stat-table > div {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  padding: 0.85rem 0;
}
.stat-table::-webkit-scrollbar {
  width: 0px;
}

.stat-table > div > span {
  flex: 1;
  padding: 0.4rem 0.85rem;
}

.stat-table-header {
  background-color: #f2f2f2;
  font-weight: bold;
}

.even {
  background-color: #f9f9f9;
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: flex-start;
  }

  .header {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .cell {
    padding: 6px;
  }
}
